# Homework

In [ ]:
import pandas as pd

# Завдання 1
Проаналізувати дані ЗНО за 2021 рік і зробити аналітичні висновки.

Завантажте з допомогою бібліотеки `Pandas` файл `zno-2021.pckl`. Використайте метод `read_pickle`. 

Збережіть дані в змінну `df`.

In [ ]:
df = pd.read_pickle('zno-2021.pckl')

За допомогою методу `describe` - виведіть описову статистику.

In [5]:
#статистичні метрики для числових стовбців
df.describe()

,Birth,MathBall12,MathBall,MathStBall12,MathStBall
count,389323.000000,220216.000000,244202.000000,8618.000000,0.0
mean,2002.788905,5.319554,19.605118,3.532606,NaN
std,3.261747,2.736655,14.488172,1.743016,NaN
min,1951.000000,1.000000,0.000000,1.000000,NaN
25%,2003.000000,3.000000,8.000000,2.000000,NaN
50%,2004.000000,5.000000,14.000000,3.000000,NaN
75%,2004.000000,7.000000,28.000000,4.000000,NaN
max,2007.000000,12.000000,67.000000,12.000000,NaN

               Birth     MathBall12       MathBall  MathStBall12  MathStBall
count  389323.000000  220216.000000  244202.000000   8618.000000         0.0
mean     2002.788905       5.319554      19.605118      3.532606         NaN
std         3.261747       2.736655      14.488172      1.743016         NaN
min      1951.000000       1.000000       0.000000      1.000000         NaN
25%      2003.000000       3.000000       8.000000      2.000000         NaN
50%      2004.000000       5.000000      14.000000      3.000000         NaN
75%      2004.000000       7.000000      28.000000      4.000000         NaN
max      2007.000000      12.000000      67.000000     12.000000         NaN

За допомогою методу `info` - виведіть загальну інформацію про фрейм.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389323 entries, 0 to 389322
Data columns (total 36 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   OUTID             389323 non-null  object
 1   Birth             389323 non-null  int64
 2   SexTypeName       389323 non-null  object
 3   RegName           389323 non-null  object
 4   AREANAME          389323 non-null  object
 5   TERNAME           389323 non-null  object
 6   RegTypeName       389323 non-null  object
 7   TerTypeName       389323 non-null  object
 8   ClassProfileNAME  337741 non-null  object
 9   ClassLangName     337741 non-null  object
 10  EONAME            337741 non-null  object
 11  EOTypeName        337741 non-null  object
 12  EORegName         337741 non-null  object
 13  EOAreaName        337741 non-null  object
 14  EOTerName         337741 non-null  object
 15  EOParent          334079 non-null  object
 16  MathTest          291789 non-null  object
 17  MathLang          291789 non-null  object
 18  MathTestStatus    291789 non-null  object
 19  MathBall100       244202 non-null  object
 20  MathBall12        220216 non-null  float64
 21  MathDpaLevel      260300 non-null  object
 22  MathBall          244202 non-null  float64
 23  MathPTName        291789 non-null  object
 24  MathPTRegName     291789 non-null  object
 25  MathPTAreaName    291789 non-null  object
 26  MathPTTerName     291789 non-null  object
 27  MathStTest        77320 non-null   object
 28  MathStLang        77320 non-null   object
 29  MathStTestStatus  77320 non-null   object
 30  MathStBall12      8618 non-null    float64
 31  MathStBall        0 non-null       float64
 32  MathStPTName      77320 non-null   object
 33  MathStPTRegName   77320 non-null   object
 34  MathStPTAreaName  77320 non-null   object
 35  MathStPTTerName   77320 non-null   object
dtypes: float64(4), int64(1), object(31)
memory usage: 60.9+ MB

Яка розмірність набору даних?

In [9]:
df.shape

(389323, 36)

Використовуючи метод заміни символів (`str.replace`) та метод перетворення типів (`astype`) - перетворіть `MathBall100` в тип `float`.

In [ ]:
#df[['MathBall100','MathBall']]
df['MathBall100'] = df['MathBall100'].str.replace(',','.')
df.MathBall100 = df.MathBall100.astype('float64')

Виведіть всі назви колонки, вкористовуючи відповідний метод.

In [24]:
df.columns

Index(['OUTID', 'Birth', 'SexTypeName', 'RegName', 'AREANAME', 'TERNAME',
       'RegTypeName', 'TerTypeName', 'ClassProfileNAME', 'ClassLangName',
       'EONAME', 'EOTypeName', 'EORegName', 'EOAreaName', 'EOTerName',
       'EOParent', 'MathTest', 'MathLang', 'MathTestStatus', 'MathBall100',
       'MathBall12', 'MathDpaLevel', 'MathBall', 'MathPTName', 'MathPTRegName',
       'MathPTAreaName', 'MathPTTerName', 'MathStTest', 'MathStLang',
       'MathStTestStatus', 'MathStBall12', 'MathStBall', 'MathStPTName',
       'MathStPTRegName', 'MathStPTAreaName', 'MathStPTTerName'],
      dtype='object')

Видалити з `DataFrame` всі колонки, які містять слово `MathSt`.

In [5]:
df = df[df.columns.drop(list(df.filter(regex='MathSt')))]
df.columns

Index(['OUTID', 'Birth', 'SexTypeName', 'RegName', 'AREANAME', 'TERNAME',
       'RegTypeName', 'TerTypeName', 'ClassProfileNAME', 'ClassLangName',
       'EONAME', 'EOTypeName', 'EORegName', 'EOAreaName', 'EOTerName',
       'EOParent', 'MathTest', 'MathLang', 'MathTestStatus', 'MathBall100',
       'MathBall12', 'MathDpaLevel', 'MathBall', 'MathPTName', 'MathPTRegName',
       'MathPTAreaName', 'MathPTTerName'],
      dtype='object')

Відобразіть перший 10 рядків набору даних.

In [26]:
df.head(10)

,OUTID,Birth,SexTypeName,RegName,AREANAME,TERNAME,RegTypeName,TerTypeName,ClassProfileNAME,ClassLangName,...,MathLang,MathTestStatus,MathBall100,MathBall12,MathDpaLevel,MathBall,MathPTName,MathPTRegName,MathPTAreaName,MathPTTerName
0,8a2abef7-625a-4253-8c14-000fe8a856e5,2003,чоловіча,Дніпропетровська область,м.Кам'янське,Дніпровський район міста,Студент закладу вищої освіти,місто,Молодший спеціаліст,українська,...,українська,Зараховано,105.0,4.0,стандарт(академічний),11.0,"Комунальний заклад ""Середня загальноосвітня шк...",Дніпропетровська область,м.Кам'янське. Дніпровський район міста,Дніпровський район міста
1,3e975d01-9cc9-4072-bbcd-005b9da75096,2003,чоловіча,Кіровоградська область,м.Кропивницький,Фортечний район міста,Випускник загальноосвітнього навчального закла...,місто,Технологічний,українська,...,українська,Не подолав поріг,0.0,3.0,стандарт(академічний),9.0,Кіровоградський медичний фаховий коледж ім. Є....,Кіровоградська область,м.Кропивницький. Подільський район міста,Подільський район міста
2,58c926c3-8718-4845-918b-00155b917934,2003,чоловіча,Дніпропетровська область,м.Дніпро,Соборний район міста,Студент закладу вищої освіти,місто,Молодший спеціаліст,українська,...,українська,Не з’явився,NaN,NaN,стандарт(академічний),NaN,"Комунальний заклад освіти ""Середня загальноосв...",Дніпропетровська область,м.Дніпро. Центральний район міста,Центральний район міста
3,443f89c2-84e7-4a56-bea3-005c776e0121,2004,жіноча,Кіровоградська область,м.Кропивницький,Фортечний район міста,Випускник загальноосвітнього навчального закла...,місто,Біолого-хімічний,українська,...,українська,Зараховано,133.0,6.0,стандарт(академічний),21.0,Кіровоградський медичний фаховий коледж ім. Є....,Кіровоградська область,м.Кропивницький. Подільський район міста,Подільський район міста
4,0b7b2e81-a906-412f-ad74-005025fd9d29,2003,жіноча,Івано-Франківська область,Долинський район,м.Долина,Випускник загальноосвітнього навчального закла...,місто,Технологічний,українська,...,українська,Зараховано,190.0,11.0,стандарт(академічний),57.0,Долинський ліцей №6 «Європейський» Долинської ...,Івано-Франківська область,Долинський район,м.Долина
5,2674452e-7f71-496c-b8b1-001f0f395520,2004,жіноча,Київська область,Вишгородський район,с.Нижча Дубечня,Випускник загальноосвітнього навчального закла...,"селище, село",Математичний,українська,...,українська,Зараховано,163.0,7.0,профільний,37.0,Вишгородська загальноосвітня школа І-ІІІ ступе...,Київська область,Вишгородський район,м.Вишгород
6,d4fececb-92ec-49b9-a9ce-00454ff7e950,2004,жіноча,Одеська область,м.Одеса,Малиновський район міста,Випускник загальноосвітнього навчального закла...,місто,Інформаційно-технологічний,українська,...,українська,Зараховано,160.0,9.0,стандарт(академічний),35.0,Одеська загальноосвітня школа №65 I-III ступен...,Одеська область,м.Одеса. Київський район міста,Київський район міста
7,ebc81eea-4099-4372-a76e-002406a18340,2003,жіноча,Одеська область,м.Одеса,Малиновський район міста,Випускник загальноосвітнього навчального закла...,місто,Інформаційно-технологічний,українська,...,українська,Не подолав поріг,0.0,2.0,стандарт(академічний),6.0,Одеська загальноосвітня школа №65 I-III ступен...,Одеська область,м.Одеса. Київський район міста,Київський район міста
8,0a1bc8b4-02e2-4f3b-86c6-00289642199f,1977,чоловіча,м.Київ,м.Київ,Подільський район міста,Випускник минулих років,місто,NaN,NaN,...,українська,Зараховано,109.0,NaN,NaN,12.0,Загальноосвітній навчальний заклад І-ІІІ ступе...,м.Київ,м.Київ. Подільський район міста,Подільський район міста
9,b0d84a2f-9bdf-4c49-8867-0042358e635f,1999,чоловіча,м.Київ,м.Київ,Шевченківський район міста,Випускник минулих років,місто,NaN,NaN,...,українська,Зараховано,181.0,NaN,NaN,50.0,Відокремлений структурний підрозділ Київський ...,м.Київ,м.Київ. Шевченківський район міста,Шевченківський район міста

                                  OUTID  Birth SexTypeName  \
0  8a2abef7-625a-4253-8c14-000fe8a856e5   2003    чоловіча
1  3e975d01-9cc9-4072-bbcd-005b9da75096   2003    чоловіча
2  58c926c3-8718-4845-918b-00155b917934   2003    чоловіча
3  443f89c2-84e7-4a56-bea3-005c776e0121   2004      жіноча
4  0b7b2e81-a906-412f-ad74-005025fd9d29   2003      жіноча
5  2674452e-7f71-496c-b8b1-001f0f395520   2004      жіноча
6  d4fececb-92ec-49b9-a9ce-00454ff7e950   2004      жіноча
7  ebc81eea-4099-4372-a76e-002406a18340   2003      жіноча
8  0a1bc8b4-02e2-4f3b-86c6-00289642199f   1977    чоловіча
9  b0d84a2f-9bdf-4c49-8867-0042358e635f   1999    чоловіча

                     RegName             AREANAME                     TERNAME  \
0   Дніпропетровська область         м.Кам'янське    Дніпровський район міста
1     Кіровоградська область      м.Кропивницький       Фортечний район міста
2   Дніпропетровська область             м.Дніпро        Соборний район міста
3     Кіровоградська область      м.Кропивницький       Фортечний район міста
4  Івано-Франківська область     Долинський район                    м.Долина
5           Київська область  Вишгородський район             с.Нижча Дубечня
6            Одеська область              м.Одеса    Малиновський район міста
7            Одеська область              м.Одеса    Малиновський район міста
8                     м.Київ               м.Київ     Подільський район міста
9                     м.Київ               м.Київ  Шевченківський район міста

                                         RegTypeName   TerTypeName  \
0                       Студент закладу вищої освіти         місто
1  Випускник загальноосвітнього навчального закла...         місто
2                       Студент закладу вищої освіти         місто
3  Випускник загальноосвітнього навчального закла...         місто
4  Випускник загальноосвітнього навчального закла...         місто
5  Випускник загальноосвітнього навчального закла...  селище, село
6  Випускник загальноосвітнього навчального закла...         місто
7  Випускник загальноосвітнього навчального закла...         місто
8                            Випускник минулих років         місто
9                            Випускник минулих років         місто

             ClassProfileNAME ClassLangName  ...    MathLang  \
0         Молодший спеціаліст    українська  ...  українська
1               Технологічний    українська  ...  українська
2         Молодший спеціаліст    українська  ...  українська
3            Біолого-хімічний    українська  ...  українська
4               Технологічний    українська  ...  українська
5                Математичний    українська  ...  українська
6  Інформаційно-технологічний    українська  ...  українська
7  Інформаційно-технологічний    українська  ...  українська
8                         NaN           NaN  ...  українська
9                         NaN           NaN  ...  українська

     MathTestStatus MathBall100 MathBall12           MathDpaLevel MathBall  \
0        Зараховано       105.0        4.0  стандарт(академічний)     11.0
1  Не подолав поріг         0.0        3.0  стандарт(академічний)      9.0
2       Не з’явився         NaN        NaN  стандарт(академічний)      NaN
3        Зараховано       133.0        6.0  стандарт(академічний)     21.0
4        Зараховано       190.0       11.0  стандарт(академічний)     57.0
5        Зараховано       163.0        7.0             профільний     37.0
6        Зараховано       160.0        9.0  стандарт(академічний)     35.0
7  Не подолав поріг         0.0        2.0  стандарт(академічний)      6.0
8        Зараховано       109.0        NaN                    NaN     12.0
9        Зараховано       181.0        NaN                    NaN     50.0

                                          MathPTName  \
0  Комунальний заклад "Середня загальноосвітня шк...
1  Кіровоградський медичний фаховий коледж ім. Є....
2  Комунальний заклад освіти "Середня загальноосв...
3  Кіровоградський медичний фаховий коледж ім. Є....
4  Долинський ліцей №6 «Європейський» Долинської ...
5  Вишгородська загальноосвітня школа І-ІІІ ступе...
6  Одеська загальноосвітня школа №65 I-III ступен...
7  Одеська загальноосвітня школа №65 I-III ступен...
8  Загальноосвітній навчальний заклад І-ІІІ ступе...
9  Відокремлений структурний підрозділ Київський ...

               MathPTRegName                            MathPTAreaName  \
0   Дніпропетровська область    м.Кам'янське. Дніпровський район міста
1     Кіровоградська область  м.Кропивницький. Подільський район міста
2   Дніпропетровська область         м.Дніпро. Центральний район міста
3     Кіровоградська область  м.Кропивницький. Подільський район міста
4  Івано-Франківська область                          Долинський район
5           Київська область                       Вишгородський район
6            Одеська область            м.Одеса. Київський район міста
7            Одеська область            м.Одеса. Київський район міста
8                     м.Київ           м.Київ. Подільський район міста
9                     м.Київ        м.Київ. Шевченківський район міста

                MathPTTerName
0    Дніпровський район міста
1     Подільський район міста
2     Центральний район міста
3     Подільський район міста
4                    м.Долина
5                  м.Вишгород
6       Київський район міста
7       Київський район міста
8     Подільський район міста
9  Шевченківський район міста

[10 rows x 27 columns]

Відобразіть унікальні значення колонки `MathTestStatus`.

In [36]:
df['MathTestStatus'].unique()

array(['Зараховано', 'Не подолав поріг', 'Не з’явився', nan, 'Анульовано',
       'Не обрано 100-200'], dtype=object)

Залиште в наборі даних лише значення 'Зараховано', 'Не подолав поріг', 'Не з’явився', 'Анульовано'.

In [6]:
names_to_select = ['Зараховано', 'Не подолав поріг', 'Не з’явився', 'Анульовано']
df = df[df['MathTestStatus'].isin(names_to_select)]
df['MathTestStatus'].unique()

array(['Зараховано', 'Не подолав поріг', 'Не з’явився', 'Анульовано'],
      dtype=object)

Скільки учасників складало тест з математики `MathLang`, і яка кількість учасників для кожної мови?

In [49]:
#df["MathLang"].unique()
print(df[df['MathTestStatus'] =='Зараховано']['MathLang'].count())
print(df.groupby('MathLang')['MathLang'].count())

168369
MathLang
українська    291657
Name: MathLang, dtype: int64

Який максимальний бал по 200 бальній шкалі `MathBall100`?

In [50]:
print(df['MathBall100'].max())

200.0

Створіть змінну df_zbarazh та збережіть туди дані по `AREANAME` = 'Збаразький район'.

In [7]:
df_zbarazh = df[df['AREANAME']=='Збаразький район']
df_zbarazh

,OUTID,Birth,SexTypeName,RegName,AREANAME,TERNAME,RegTypeName,TerTypeName,ClassProfileNAME,ClassLangName,...,MathLang,MathTestStatus,MathBall100,MathBall12,MathDpaLevel,MathBall,MathPTName,MathPTRegName,MathPTAreaName,MathPTTerName
866,db4e54a1-f078-4fd2-95ec-00d21aec3dee,2004,жіноча,Тернопільська область,Збаразький район,с.Чернихівці,Випускник загальноосвітнього навчального закла...,"селище, село",Української філології,українська,...,українська,Зараховано,116.0,5.0,стандарт(академічний),14.0,Збаразька загальноосвітня школа І-ІІІ ступенів...,Тернопільська область,Збаразький район,м.Збараж
1028,5c19c24b-f525-44f4-a205-004f642ef8ef,2003,жіноча,Тернопільська область,Збаразький район,м.Збараж,Учень (слухач) закладу професійної (професійно...,місто,Кваліфікований робітник,українська,...,українська,Не подолав поріг,0.0,3.0,стандарт(академічний),9.0,Збаразька загальноосвітня школа І-ІІІ ступенів...,Тернопільська область,Збаразький район,м.Збараж
3027,058db6a5-63fa-4473-8b88-0222ddd9976a,2004,чоловіча,Тернопільська область,Збаразький район,с.Залужжя,Випускник загальноосвітнього навчального закла...,"селище, село",Української філології,українська,...,українська,Зараховано,109.0,4.0,стандарт(академічний),12.0,Збаразька загальноосвітня школа І-ІІІ ступенів...,Тернопільська область,Збаразький район,м.Збараж
5495,9202a89c-9884-45a3-b8a1-05541d562ea8,2003,жіноча,Тернопільська область,Збаразький район,смт Вишнівець,Випускник загальноосвітнього навчального закла...,селище міського типу,Універсальний,українська,...,українська,Не подолав поріг,0.0,3.0,стандарт(академічний),7.0,Збаразька загальноосвітня школа І-ІІІ ступенів...,Тернопільська область,Збаразький район,м.Збараж
6315,5d9dcd99-140e-49a3-9940-0571f6457b72,2003,чоловіча,Тернопільська область,Збаразький район,м.Збараж,Учень (слухач) закладу професійної (професійно...,місто,Кваліфікований робітник,українська,...,українська,Не з’явився,NaN,NaN,стандарт(академічний),NaN,Збаразька загальноосвітня школа І-ІІІ ступенів...,Тернопільська область,Збаразький район,м.Збараж
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382835,d5a65ff6-1b32-4eee-b278-fd8fa7970624,2004,жіноча,Тернопільська область,Збаразький район,с.Гніздичне,Випускник загальноосвітнього навчального закла...,"селище, село",Української філології,українська,...,українська,Зараховано,142.0,7.0,стандарт(академічний),25.0,Збаразька загальноосвітня школа І-ІІІ ступенів...,Тернопільська область,Збаразький район,м.Збараж
385068,e2d04d69-1918-4559-b9a5-f802d5fa2ad7,2003,жіноча,Тернопільська область,Збаразький район,с.Чернихівці,Випускник загальноосвітнього навчального закла...,"селище, село",Української філології,українська,...,українська,Зараховано,161.0,9.0,стандарт(академічний),36.0,Збаразька загальноосвітня школа І-ІІІ ступенів...,Тернопільська область,Збаразький район,м.Збараж
385551,23abc6c7-8490-43b3-bb5a-e3448152617b,2003,жіноча,Тернопільська область,Збаразький район,м.Збараж,Учень (слухач) закладу професійної (професійно...,місто,Кваліфікований робітник,українська,...,українська,Не подолав поріг,0.0,2.0,стандарт(академічний),4.0,Збаразька загальноосвітня школа І-ІІІ ступенів...,Тернопільська область,Збаразький район,м.Збараж
385714,80d9b981-f97a-4ec9-a748-e2101b427eb0,2001,чоловіча,Тернопільська область,Збаразький район,с.Чернихівці,Випускник минулих років,"селище, село",NaN,NaN,...,українська,Зараховано,116.0,NaN,NaN,14.0,Збаразька загальноосвітня школа І-ІІІ ступенів...,Тернопільська область,Збаразький район,м.Збараж
388340,3daee40d-2ae2-45a8-a3e0-fc8414b3cb01,2005,жіноча,Тернопільська область,Збаразький район,м.Збараж,Випускник загальноосвітнього навчального закла...,місто,Технологічний,українська,...,українська,Зараховано,188.0,11.0,стандарт(академічний),56.0,Збаразька загальноосвітня школа І-ІІІ ступенів...,Тернопільська область,Збаразький район,м.Збараж

                                       OUTID  Birth SexTypeName  \
866     db4e54a1-f078-4fd2-95ec-00d21aec3dee   2004      жіноча
1028    5c19c24b-f525-44f4-a205-004f642ef8ef   2003      жіноча
3027    058db6a5-63fa-4473-8b88-0222ddd9976a   2004    чоловіча
5495    9202a89c-9884-45a3-b8a1-05541d562ea8   2003      жіноча
6315    5d9dcd99-140e-49a3-9940-0571f6457b72   2003    чоловіча
...                                      ...    ...         ...
382835  d5a65ff6-1b32-4eee-b278-fd8fa7970624   2004      жіноча
385068  e2d04d69-1918-4559-b9a5-f802d5fa2ad7   2003      жіноча
385551  23abc6c7-8490-43b3-bb5a-e3448152617b   2003      жіноча
385714  80d9b981-f97a-4ec9-a748-e2101b427eb0   2001    чоловіча
388340  3daee40d-2ae2-45a8-a3e0-fc8414b3cb01   2005      жіноча

                      RegName          AREANAME        TERNAME  \
866     Тернопільська область  Збаразький район   с.Чернихівці
1028    Тернопільська область  Збаразький район       м.Збараж
3027    Тернопільська область  Збаразький район      с.Залужжя
5495    Тернопільська область  Збаразький район  смт Вишнівець
6315    Тернопільська область  Збаразький район       м.Збараж
...                       ...               ...            ...
382835  Тернопільська область  Збаразький район    с.Гніздичне
385068  Тернопільська область  Збаразький район   с.Чернихівці
385551  Тернопільська область  Збаразький район       м.Збараж
385714  Тернопільська область  Збаразький район   с.Чернихівці
388340  Тернопільська область  Збаразький район       м.Збараж

                                              RegTypeName  \
866     Випускник загальноосвітнього навчального закла...
1028    Учень (слухач) закладу професійної (професійно...
3027    Випускник загальноосвітнього навчального закла...
5495    Випускник загальноосвітнього навчального закла...
6315    Учень (слухач) закладу професійної (професійно...
...                                                   ...
382835  Випускник загальноосвітнього навчального закла...
385068  Випускник загальноосвітнього навчального закла...
385551  Учень (слухач) закладу професійної (професійно...
385714                            Випускник минулих років
388340  Випускник загальноосвітнього навчального закла...

                 TerTypeName         ClassProfileNAME ClassLangName  ...  \
866             селище, село    Української філології    українська  ...
1028                   місто  Кваліфікований робітник    українська  ...
3027            селище, село    Української філології    українська  ...
5495    селище міського типу            Універсальний    українська  ...
6315                   місто  Кваліфікований робітник    українська  ...
...                      ...                      ...           ...  ...
382835          селище, село    Української філології    українська  ...
385068          селище, село    Української філології    українська  ...
385551                 місто  Кваліфікований робітник    українська  ...
385714          селище, село                      NaN           NaN  ...
388340                 місто            Технологічний    українська  ...

          MathLang    MathTestStatus MathBall100 MathBall12  \
866     українська        Зараховано       116.0        5.0
1028    українська  Не подолав поріг         0.0        3.0
3027    українська        Зараховано       109.0        4.0
5495    українська  Не подолав поріг         0.0        3.0
6315    українська       Не з’явився         NaN        NaN
...            ...               ...         ...        ...
382835  українська        Зараховано       142.0        7.0
385068  українська        Зараховано       161.0        9.0
385551  українська  Не подолав поріг         0.0        2.0
385714  українська        Зараховано       116.0        NaN
388340  українська        Зараховано       188.0       11.0

                 MathDpaLevel MathBall  \
866     стандарт(академічний)     14.0
1028    стандарт(академічний)      9.0
3027    стандарт(академічний)     12.0
5495    стандарт(академічний)      7.0
6315    стандарт(академічний)      NaN
...                       ...      ...
382835  стандарт(академічний)     25.0
385068  стандарт(академічний)     36.0
385551  стандарт(академічний)      4.0
385714                    NaN     14.0
388340  стандарт(академічний)     56.0

                                               MathPTName  \
866     Збаразька загальноосвітня школа І-ІІІ ступенів...
1028    Збаразька загальноосвітня школа І-ІІІ ступенів...
3027    Збаразька загальноосвітня школа І-ІІІ ступенів...
5495    Збаразька загальноосвітня школа І-ІІІ ступенів...
6315    Збаразька загальноосвітня школа І-ІІІ ступенів...
...                                                   ...
382835  Збаразька загальноосвітня школа І-ІІІ ступенів...
385068  Збаразька загальноосвітня школа І-ІІІ ступенів...
385551  Збаразька загальноосвітня школа І-ІІІ ступенів...
385714  Збаразька загальноосвітня школа І-ІІІ ступенів...
388340  Збаразька загальноосвітня школа І-ІІІ ступенів...

                MathPTRegName    MathPTAreaName  MathPTTerName
866     Тернопільська область  Збаразький район       м.Збараж
1028    Тернопільська область  Збаразький район       м.Збараж
3027    Тернопільська область  Збаразький район       м.Збараж
5495    Тернопільська область  Збаразький район       м.Збараж
6315    Тернопільська область  Збаразький район       м.Збараж
...                       ...               ...            ...
382835  Тернопільська область  Збаразький район       м.Збараж
385068  Тернопільська область  Збаразький район       м.Збараж
385551  Тернопільська область  Збаразький район       м.Збараж
385714  Тернопільська область  Збаразький район       м.Збараж
388340  Тернопільська область  Збаразький район       м.Збараж

[308 rows x 27 columns]

Виведіть тих абітерієнтів для яких `MathBall100` не `NUll`, а `MathBall12` - `NULL`. Чому таке можливо? Дослідіть!

In [8]:
print(df[(df['MathBall100'].notnull())&(df['MathBall12'].isnull())][['Birth','SexTypeName','AREANAME','ClassProfileNAME','ClassLangName','MathTestStatus','MathBall100','MathBall12','MathDpaLevel','MathBall']].head(1000))

       Birth SexTypeName              AREANAME ClassProfileNAME ClassLangName  \
8       1977    чоловіча                м.Київ              NaN           NaN
9       1999    чоловіча                м.Київ              NaN           NaN
42      1999      жіноча          м.Кривий Ріг              NaN           NaN
44      2002    чоловіча               м.Одеса              NaN           NaN
50      2001    чоловіча        Сумський район              NaN           NaN
...      ...         ...                   ...              ...           ...
17173   2002      жіноча  Чернігівська область              NaN           NaN
17174   2002    чоловіча                м.Київ              NaN           NaN
17178   1999    чоловіча  Здолбунівський район              NaN           NaN
17201   1986    чоловіча          м.Кривий Ріг              NaN           NaN
17249   2002    чоловіча    Дрогобицький район              NaN           NaN

         MathTestStatus  MathBall100  MathBall12 MathDpaLevel  MathBall
8            Зараховано        109.0         NaN          NaN      12.0
9            Зараховано        181.0         NaN          NaN      50.0
42           Зараховано        109.0         NaN          NaN      12.0
44           Зараховано        127.0         NaN          NaN      18.0
50     Не подолав поріг          0.0         NaN          NaN       7.0
...                 ...          ...         ...          ...       ...
17173        Зараховано        105.0         NaN          NaN      11.0
17174  Не подолав поріг          0.0         NaN          NaN       3.0
17178  Не подолав поріг          0.0         NaN          NaN       9.0
17201  Не подолав поріг          0.0         NaN          NaN       8.0
17249        Зараховано        100.0         NaN          NaN      10.0

[1000 rows x 10 columns]

Підрахуйте к-сть абітурієнтів по кожній статі.

In [22]:
print(df.groupby('SexTypeName')['SexTypeName'].count())

SexTypeName
жіноча      142272
чоловіча    149385
Name: SexTypeName, dtype: int64

Знайдіть відношення к-сть чоловіків до всієї к-сть абітурієнтів.

In [25]:

cnt_man = df[df['SexTypeName'] =='чоловіча']['SexTypeName'].count()
cnt_all = df['SexTypeName'].count()
print("Відношення чоловіків до всієї к-сті абітурієнтів: ", round((cnt_man/cnt_all) * 100,2))

Відношення к-сть чоловіків до всієї к-сть абітурієнтів:  51.22

Знайдіть максимальний бал в Збаразькому районі.

In [28]:
df_zbarazh['MathBall'].max()

65.0

Виведіть OUTID абітурієнтів, що набрали максимальний бал в даному районі.

In [9]:
df_zbarazh[df_zbarazh['MathBall'] == df_zbarazh['MathBall'].max()]['OUTID']

210190    ee4bb5d1-497b-49d0-9b98-8dc686dec6a4
Name: OUTID, dtype: object

Виведіть середню оцінку для абітурієнтів із міста `TerTypeName` = 'місто' та статус тесту `MathTestStatus` =  'Зараховано'.

In [9]:
print(df[(df['TerTypeName'] =='місто')&(df['MathTestStatus'] =='Зараховано')]['MathBall'].mean())

26.36553991825302

Виведіть середню оцінку для абітурієнтів не із міста TerTypeName != 'місто' та статус тесту MathTestStatus = 'Зараховано'.

In [10]:
print(df[(df['TerTypeName'] !='місто')&(df['MathTestStatus'] =='Зараховано')]['MathBall'].mean())

22.122526224721533

Подумайте, чи має вплив `TerTypeName` на результат тестування.

Виведіть середню оцінку для абітурієнтів із технічних ліцеїв (`ClassProfileNAME` = 'Технологічний) та статус тесту `MathTestStatus` = 'Зараховано'.

In [12]:
print(df[(df['ClassProfileNAME'] =='Технологічний')&(df['MathTestStatus'] =='Зараховано')]['MathBall'].mean())

21.833886124930903

Виведіть середню оцінку для абітурієнтів із НЕтехнічних ліцеїв (`ClassProfileNAME` != 'Технологічний) та статус тесту `MathTestStatus` = 'Зараховано'.

In [13]:
print(df[(df['ClassProfileNAME'] !='Технологічний')&(df['MathTestStatus'] =='Зараховано')]['MathBall'].mean())

25.512464264253328

Зробіть висновки :)

In [ ]:
#абітурієнти з міст в більшості мають кращі математичні навички, випереджаючи навіть абітурієнтів технічних ліцеїв

Видаліть всі рядки, де MathBall12 є Null.

In [12]:
#df[df['MathBall12'].isnull()]
df.dropna(subset=['MathBall12'], inplace=True)

Empty DataFrame
Columns: [OUTID, Birth, SexTypeName, RegName, AREANAME, TERNAME, RegTypeName, TerTypeName, ClassProfileNAME, ClassLangName, EONAME, EOTypeName, EORegName, EOAreaName, EOTerName, EOParent, MathTest, MathLang, MathTestStatus, MathBall100, MathBall12, MathDpaLevel, MathBall, MathPTName, MathPTRegName, MathPTAreaName, MathPTTerName]
Index: []

[0 rows x 27 columns]


Перевірте, чи залишилися ще якісь порожні значення в `df_zbarazh`.

In [13]:
df_zbarazh.isnull().values.any()
#df_zbarazh.isna()

True

Зповніть всі значення `NULL` в колонці `EOParent` на значення "невідомо".

In [14]:
df_zbarazh['EOParent'].fillna('невідомо', axis = 0, inplace=True)

C:\Users\AAlexandrI\AppData\Local\Temp\ipykernel_7608\4088654383.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_zbarazh['EOParent'].fillna('невідомо', axis = 0, inplace=True)

In [15]:
#df_zbarazh[df_zbarazh['EOParent'].isna()]
df_zbarazh[df_zbarazh['EOParent'].isnull()]
#df_zbarazh.columns

Empty DataFrame
Columns: [OUTID, Birth, SexTypeName, RegName, AREANAME, TERNAME, RegTypeName, TerTypeName, ClassProfileNAME, ClassLangName, EONAME, EOTypeName, EORegName, EOAreaName, EOTerName, EOParent, MathTest, MathLang, MathTestStatus, MathBall100, MathBall12, MathDpaLevel, MathBall, MathPTName, MathPTRegName, MathPTAreaName, MathPTTerName]
Index: []

[0 rows x 27 columns]

Виведіть середнє значення `MathBall100` по кожному році народження.

In [16]:
print(df.groupby('Birth')['MathBall100'].mean())

Birth
1969      0.000000
1970      0.000000
1973      0.000000
1975    113.000000
1976      0.000000
1977      0.000000
1978     54.833333
1979     40.900000
1980     33.285714
1981      0.000000
1982     11.666667
1983     31.000000
1984     54.777778
1985     23.785714
1986     30.117647
1987     34.888889
1988     40.750000
1989      0.000000
1990     32.454545
1991     25.615385
1992     59.636364
1993     49.000000
1994      0.000000
1995     66.909091
1996     75.666667
1997     43.888889
1998     64.074074
1999     31.047619
2000     39.807339
2001     33.947368
2002     44.625561
2003     92.609016
2004    101.179356
2005    101.530625
2006    126.200000
2007      0.000000
Name: MathBall100, dtype: float64

Виведіть середнє значення `MathBall100` та кількість студнетів по кожному році народження.

In [17]:
print(df.groupby('Birth').agg({'MathBall100':'mean','OUTID':'count'}))

       MathBall100   OUTID
Birth
1969      0.000000       1
1970      0.000000       1
1973      0.000000       2
1975    113.000000       1
1976      0.000000       4
1977      0.000000       5
1978     54.833333       6
1979     40.900000      10
1980     33.285714       7
1981      0.000000       1
1982     11.666667       9
1983     31.000000      15
1984     54.777778       9
1985     23.785714      14
1986     30.117647      17
1987     34.888889       9
1988     40.750000       4
1989      0.000000       9
1990     32.454545      11
1991     25.615385      13
1992     59.636364      11
1993     49.000000       7
1994      0.000000       8
1995     66.909091      11
1996     75.666667      12
1997     43.888889      18
1998     64.074074      27
1999     31.047619      42
2000     39.807339     110
2001     33.947368     420
2002     44.625561    4474
2003     92.609016   63171
2004    101.179356  150063
2005    101.530625    1551
2006    126.200000      10
2007      0.000000       1

Виведіть середнє значення `MathBall100` по кожному році народження по статусу тесту `MathTestStatus` = "Зараховано". Збережіть у змінну `df_by_year`.

In [59]:
df_by_year = df[(df['MathTestStatus'] =='Зараховано')].groupby('Birth')['MathBall100'].mean()
print(df_by_year)

Birth
1975    113.000000
1978    109.666667
1979    102.250000
1980    116.500000
1982    105.000000
1983    116.250000
1984    123.250000
1985    111.000000
1986    128.000000
1987    104.666667
1988    163.000000
1990    119.000000
1991    111.000000
1992    131.200000
1993    114.333333
1995    122.666667
1996    113.500000
1997    112.857143
1998    133.076923
1999    108.666667
2000    120.527778
2001    118.250000
2002    119.037081
2003    137.463956
2004    139.793290
2005    141.613309
2006    157.750000
Name: MathBall100, dtype: float64

У змінній `df_by_year` "скиньте" індекси.

In [60]:

#
df_by_year = df_by_year.reset_index()
#
df_by_year.index

RangeIndex(start=0, stop=27, step=1)

А тепер назад встановіть індекс `Birth` :)

In [63]:
#
df_by_year = df_by_year.set_index('Birth')
#df_by_year.index
#df_by_year

Index([1975, 1978, 1979, 1980, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1990,
       1991, 1992, 1993, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006],
      dtype='int64', name='Birth')

# Проведіть свої додактові аналітичні дослідження і опишіть отримані висновки

*Можна проаналізувати район, в якому ви навчалися, чи гендерний розподіл...*

In [77]:
print(df[(df['MathTestStatus'] =='Зараховано')&(df['AREANAME'] =='м.Київ')].groupby('ClassProfileNAME')['MathBall100'].mean().sort_values(ascending=False))
# цікаво, що фізико-математика чи фізика дає більш глибокі навички ніж просто математика, хімія також непогано розвиває

ClassProfileNAME
Фізико-математичний                     182.182813
Фізичний                                177.222222
Математичний                            167.020101
Хіміко-технологічний та агрохімічний    164.473684
Економічний                             157.707965
Інформаційно-технологічний              157.648289
Біолого-хімічний                        152.500000
Іноземної філології                     150.156790
Екологічний                             146.750000
Біотехнологічний                        145.557692
Інший(багатопрофільність)               145.347603
Універсальний                           144.489818
Географічний                            142.130435
Історичний                              142.043321
Художньо-естетичний                     141.847826
Технологічний                           141.104167
Біологічний                             140.472000
Української філології                   138.928358
Правовий                                136.735537
Військово-спортивний                    134.874016
Біолого-фізичний                        130.888889
Спортивний                              128.529412
Молодший спеціаліст                     128.036114
Кваліфікований робітник                 113.807292
Name: MathBall100, dtype: float64

# Завдання 2

Знайома вже нам база даних з вином знову пригодиться в роботі. 


1) Потрібно приєднатися до бази даних Azure SQL із вином
2) Вибрати лише таблицю із закупкою і з продажами
3) Агрегувати таблиці, щоб залишити лише дату і к-сть

In [8]:
#for choose kernel 
# Ctrl+Shift+P
# Reinstall Python and Jupyter extensions
# 
#import pandas as pd, pyodbc    #python -m pip install pyodbc
#connection_string = 'DRIVER={SQL Server};SERVER=;DATABASE=data-wizard-students;UID=student;PWD=;TrustServerCertificate=no;Connection Timeout=30'
#cnn = pyodbc.connect(connection_string)
#query = """
#  SELECT SaleDate, sum(QuantitySold) as SmQuantitySold
#  FROM Sales
#  Group By SaleDate
#"""
#result = pd.read_sql(query, cnn)
#df = pl.from_pandas(result) import polars as pl
#result.columns.tolist()

import pymssql
import pandas as pd
server = ''
database = 'data-wizard-students'
username = 'student'
password = ''
conn = pymssql.connect(server, username, password, database)
query = """
SELECT uDate, sum(QuantitySold) as SmQuantitySold, sum(QuantityPurchased) as SmQuantityPurchased FROM 
(
  SELECT SaleDate as uDate, QuantitySold, 0 as QuantityPurchased
  FROM Sales
  UNION ALL
  SELECT PurchaseDate, 0, QuantityPurchased 
  FROM Purchases
  ) tbl
Group By uDate  
"""
result = pd.read_sql(query, conn)
result

<ipython-input-8-0430b99f9a60>:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(query, conn)

,uDate,SmQuantitySold,SmQuantityPurchased
0,2022-03-15,0,5
1,2022-03-20,3,0
2,2022-04-28,0,3
3,2022-05-20,0,10
4,2022-05-25,5,0
5,2022-06-12,0,2
6,2022-06-15,6,0
7,2022-07-10,0,8
8,2022-07-15,7,0
9,2022-08-02,0,6
10,2022-08-05,4,0
11,2022-09-05,0,7
12,2022-09-10,1,0
13,2022-10-30,0,9
14,2022-11-02,4,0
15,2022-11-18,0,4
16,2022-11-25,8,0
17,2022-12-22,0,1
18,2023-09-20,2,2
19,2023-09-21,3,3
20,2023-09-22,4,4
21,2023-09-23,0,1
22,2023-09-24,5,5
23,2023-09-25,2,2
24,2023-09-26,3,3
25,2023-09-27,4,4
26,2023-09-28,0,1
27,2023-09-29,5,5
28,2023-09-30,2,2
29,2023-10-01,3,3
30,2023-10-02,4,4
31,2023-10-03,0,1
32,2023-10-04,5,5
33,2023-10-05,2,2
34,2023-10-06,3,3
35,2023-10-07,4,0
36,2023-10-09,5,0

# Sheet 4

In [12]:
import pandas as pd
df = pd.read_pickle('zno-2021.pckl')
###############
df['MathBall100'] = df['MathBall100'].str.replace(',','.')
df.MathBall100 = df.MathBall100.astype('float64')
df = df[df.columns.drop(list(df.filter(regex='MathSt')))]
df['MathTestStatus'].unique()
names_to_select = ['Зараховано', 'Не подолав поріг', 'Не з’явився', 'Анульовано']
df = df[df['MathTestStatus'].isin(names_to_select)]
###############
sdf = df[(df['MathTestStatus'] =='Зараховано')&(df['AREANAME'] =='м.Київ')&(df['ClassProfileNAME'] =='Фізико-математичний')&(df['MathBall100'] > 160)].sort_values('MathBall100', ascending=False)
ssdf = sdf[['OUTID','TERNAME','EONAME']].groupby(['TERNAME','EONAME'])['OUTID'].count().sort_values(ascending=False)
#print(type(ssdf)) #'pandas.core.series.Series'
#ssdf.values
#ssdf.index
dssdf = pd.DataFrame(ssdf).reset_index()
dssdf

,TERNAME,EONAME,OUTID
0,Солом'янський район міста,Технічний ліцей Національного технічного уніве...,101
1,Голосіївський район міста,Український фізико-математичний ліцей Київсько...,88
2,Печерський район міста,Природничо-науковий ліцей №145 Печерського рай...,80
3,Солом'янський район міста,Ліцей №142 м.Києва,64
4,Дніпровський район міста,Ліцей №208 м. Києва,51
5,Солом'янський район міста,Авіакосмічний ліцей ім. І.Сікорського НАУ м.Києва,50
6,Дніпровський район міста,Русанівський ліцей м. Києва,49
7,Святошинський район міста,Спеціалізована школа №185 імені Володимира Вер...,28
8,Солом'янський район міста,Політехнічний ліцей Національного технічного у...,28
9,Подільський район міста,Загальноосвітній навчальний заклад І-ІІІ ступе...,21
10,Подільський район міста,"ПРИВАТНА ОРГАНІЗАЦІЯ (УСТАНОВА, ЗАКЛАД) ""ЗАКЛА...",4